<ol class="breadcrumb">
    <li><a>Home</a></li>
    <li class="active">ModuleName</li>
</ol>
<div class="row" id="top_controls"></div>
<div class="row" id="table_view"></div>
<div class="row" id="pagination_controls"></div>